<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Path" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <Path>
    <add key="pathtoLaborants" value="C:\Users\Вершковд\Documents\visual studio 2015\Projects\DMS.DAL\listOfLaborants.xml"></add>
    <add key="pathtoAnalisys" value="C:\Users\Вершковд\Documents\visual studio 2015\Projects\DMS.DAL\listOfAnalisys.xml"></add>
    <add key="pathtoAnalisysResult" value="C:\Users\Вершковд\Documents\visual studio 2015\Projects\DMS.DAL\listOfAnalisysResult.xml"></add>
    <add key="pathtoBills" value="C:\Users\Вершковд\Documents\visual studio 2015\Projects\DMS.DAL\listOfAnalisysResult.xml"></add>
  </Path>
</configuration>